<div class="bg-soft-gray" style="padding-top: 10px;">
  <div class="flex-to-center">
      <mat-card align="center" class="resize"
          style="box-shadow: none !important; height: 70vh; background-color: transparent; padding: 0px !important;">
          <div>
              <img src="assets/img/hyl_nxt.png" class="logomini" alt="Logo HyL">
          </div>
          <div class="pt-4">
              <button mat-raised-button color="primary" routerLink="/login">Ingresar</button>
          </div>
          <div>
              <h3 class="asmet-red">Sitio no autorizado</h3>
          </div>
          <a routerLink="/login">
            <img src="assets/img/icons/security_lock_admin.svg" style="width: auto;height: 70vh;" alt="Imagen seguridad">
          </a>
          <div>
              Haga clic en la imagen para iniciar sesión
          </div>
      </mat-card>
  </div>
</div>
