<div class="bg-soft-gray" style="padding-top: 10px;">
  <div class="flex-to-center">
      <mat-card align="center" class="resize"
          style="box-shadow: none !important; height: 70vh; background-color: transparent; padding: 0px !important;">
          <div>
              <img src="assets/img/hyl_nxt.png" class="logomini" alt="Logo HyL">
          </div>
          <div class="pt-4">
              <button mat-raised-button color="primary" routerLink="/hyl/inicio">Ir al inicio</button>
          </div>
          <div>
              <h3 class="asmet-red">Sitio no autorizado</h3>
          </div>
          <a routerLink="/hyl/inicio"><img src="assets/img/icons/road_closure.svg" style="width: auto;height: 70vh;" alt="Imagen sitio no encontrado"></a>
          <div>
              Haga clic en la imagen para regresar al inicio
          </div>
      </mat-card>
  </div>
</div>
