<mat-card style="height: calc(100vh - 56px)">
  <!-- Barra de herramientas con título y subtítulo -->
  <mat-toolbar color="primary">
    <div class="mat-toolbar-row">

    </div>
    <div class="mat-toolbar-row text-secondary fs-6">

    </div>
  </mat-toolbar>

  <!-- Contenido dentro de la tarjeta -->
  <mat-card class="">
    Este es un nuevo paso en Asmet Salud para facilitar la gestión de
    información de la organización, para navegar puedes abrir el menú desde el
    botón en la esquina superior izquierda o con tu teclado presionando
    <i aria-hidden="true">alt + m</i>.
  </mat-card>

  <!-- Imagen en la parte inferior derecha -->
  <img
    src="assets/img/hyl_nxt80.png"
    style="position: absolute; bottom: 12px; right: 18px; height: 40px"
    alt="Logo HyL"
  />
</mat-card>
